@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

* {
  border: 0;
  margin: 0;
}

.strike {
  text-decoration: line-through;
}

td{
  border: 1px solid black;
  padding: 5px;
}

.todo-input{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  /* background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png"); */
}

.todoTable-block{
  margin-top: 1rem;
}

.pagination-pages{
  text-align: right;
}

.pagination-pages > * {
  margin-right: 0.5rem;
  cursor: pointer;
}

.material-icons{
  cursor: pointer;
}

::-ms-input-placeholder{
  color: #06095c;
}

::-webkit-input-placeholder{
  color: #06095c;
}

::placeholder{
  color: #06095c;
}

input {
  color:#06095c;
}

h3 {
  color:#06095c;
  font-family: 'Rowdies', cursive;
  padding: 20px 0;
}


body{
  font-family: 'Baloo Bhai 2', cursive;
  background: rgb(241, 239, 239);
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
}

.brand {
  background-color: rgb(225, 225, 225);
  color: #ddd;
  margin: auto 0;
  margin-bottom: 1.2rem;
  padding: 5px 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.todo-block{
  border: 1px solid #06095c;
  padding: 1rem;
  border-radius: 20px;
  color: #06095c;
  font-weight: bold;
  font-size: 1.1rem;
}

@media screen and (max-width: 767px) {
  /* for mobile or small screen device */
  #todoTable, .todo-calendar{
    margin-top: 1rem;
  }
  .brand-name{
    width:70%;
    text-align: center;
    margin: auto;
    font-size: 2rem;
  }
}


@media screen and (min-width: 768px) {
  /* for tablets or laptops or desktops */
  .todo-grid-parent{
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 1rem;
  }

  #calendar{
    position: sticky;
    top: 0;
  }
  .brand-name {
    font-size: 2rem;
    /* color: #ffad99; */
    text-align: center;
    width:400px;
    margin:auto;
  }
}

.todo-overlay{
  width: 100vw;
  height: 100vh;
  background-color: #ddd;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-100vw);
  transition: transform 250ms;
  z-index: 2;
}

.todo-modal{
  min-width: 50vw;
  height: 50vh;
  /*border: 1px solid green;*/
  background-color: #ffd6cc;
}

.todo-modal-close-btn{
  background-color: red;
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}

.slidedIntoView {
  transform: translateX(0);
  transition: transform 650ms;
}

#todoTable tr:nth-child(even) {
  background-color: #ffd6cc;
}

button{
  background-color: #ffd6cc;
  color: #a11e12;
  border: 1px outset #ed6a5e;
}

button:active{
  border: 1px inset #ed6a5e;
}

button:hover{
  background-color: #ffad99;
}

.chevron{
  transform: translateY(0.4rem);
}

.itemsPerPage{
  text-align: right;
  margin-bottom: 0.5rem;
}

#addBtn {
    padding: 0 1rem;
    height: 2rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    color: #fff;
    background-color: #06095c;
    border: none;
    cursor: pointer;
} 

#sortBtn {
    padding: 0 1rem;
    height: 2rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    color: #fff;
    background-color: #06095c;
    border: none;
    cursor: pointer;
}

#categoryList {
  color: #06095c;
  background-color: #06095c;
}
.categoryCell {
  color: #06095c;
  background-color: #ebebeb;
}


/* particles */
